<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="menuDinamicoFilterInvocationDefinitionSource" 
	      class= "br.com.bradesco.web.custodia.service.business.parametrizacao.menudinamico.acesso.MenuDinamicoFilterInvocationDefinitionSource">
		<property name="menuDinamicoService"><ref bean="menuDinamicoService" /></property>
		<property name="mapUrlServico">
			<map>
				<entry key="/caliadmusuario/init.jsf"><value>102</value></entry>
				<entry key="/caliadmusuario/consultarUsuarios.jsf"><value>103</value></entry>
				<entry key="/caliativosadmperfil/AdmCadastrarPerfil.jsf"><value>115</value></entry>
				<entry key="/caliativosadmperfil/AdmConsultarPerfil.jsf"><value>116</value></entry>
				<entry key="/caliativosadmautorizante/AdmConsultarNivelAutoriz.jsf"><value>2202</value></entry>
				<entry key="/caliativosadmautorizante/AdmConsultarAutorizante.jsf"><value>2203</value></entry>
				<entry key="/caliativosadmperfil/AdmCadastrarFiltro.jsf"><value>2204</value></entry>
				<entry key="/caliativosadmacess/AdmCadastrarAcessibilidade.jsf"><value>2205</value></entry>
				<entry key="/caliativosadmacess/AdmCadastrarAcessHorarios.jsf"><value>2206</value></entry>
				<entry key="/caliadmempresa/home.jsf"><value>105</value></entry>
				<entry key="/caliadmempresa/admPerfis.jsf"><value>106</value></entry>
				<entry key="/calisblfadmperfil/AdmCadastrarPerfilCaixaOnline.jsf"><value>158</value></entry>
				<entry key="/calisblfadmperfil/AdmConsultarListaPerfilCaixaOnline.jsf"><value>159</value></entry>
				<entry key="/caliativosadmrel/AdmGerarRelAuditoria.jsf"><value>140</value></entry>
				<entry key="/caliativosadmrel/AdmGerarRelAutorizantesEmpresa.jsf"><value>141</value></entry>
				<entry key="/caliativosadmrel/AdmGerarRelCarteiraFundosUsuario.jsf"><value>142</value></entry>
				<entry key="/caliativosadmrel/AdmGerarRelControleAcessoFunc.jsf"><value>143</value></entry>
				<entry key="/caliativosadmrel/AdmGerarRelControleAcessoPerfil.jsf"><value>144</value></entry>
				<entry key="/caliativosadmrel/AdmConsultarAutorizacaoExtra.jsf"><value>145</value></entry>
				<entry key="/caliativosadmrel/AdmGerarRelLiberacaoAutorizacaoExtra.jsf"><value>146</value></entry>
				<entry key="/caliativosadmrel/AdmGerarRelEmpresas.jsf"><value>147</value></entry>
				<entry key="/caliativosadmrel/AdmGerarRelUsuarioEmpresa.jsf"><value>1448</value></entry>
				<entry key="/caliativosadmrel/AdmGerarRelUsuarioPerfil.jsf"><value>149</value></entry>
				<entry key="/calisblfconsulta/sblfConsultaUsuarioEmpresa.jsf"><value>2209</value></entry>
				<entry key="/calisblfconsulta/sblfConsultaPerfilFuncionalidade.jsf"><value>2210</value></entry>
				<entry key="/calisblfconsulta/sblfConsultaUsuarioFuncionalidade.jsf"><value>2211</value></entry>
				<entry key="/calisblfconsulta/sblfConsultaGruposFundo.jsf"><value>2212</value></entry>
				<entry key="/calisblfconsulta/sblfConsultaUsuarioFundo.jsf"><value>2213</value></entry>
				<entry key="/caliadmusuario/consultarLog.jsf"><value>108</value></entry>
				<entry key="/caliadmusuario/gerarRelatorios.jsf"><value>110</value></entry>
				<entry key="/caliativosrendafixa/NetCompromissadasBoletagem.jsf"><value>2004</value></entry>
				<entry key="/caliativosrendafixa/NetCompromissadasConsultaControle.jsf"><value>2005</value></entry>
				<entry key="/caliativosrendafixa/NetTitulosNacionaisTermoBoletagem.jsf"><value>2013</value></entry>
				<entry key="/caliativosrendafixa/NetTitulosNacionaisTermoConsultaControle.jsf"><value>2014</value></entry>
				<entry key="/caliativosrendafixa/NetTitulosNacionaisLiberacaoLastro.jsf"><value>2015</value></entry>
				<entry key="/caliativosrendafixa/NetTitulosNacionaisDefinitivas.jsf"><value>2010</value></entry>
				<entry key="/caliativosrendafixa/NetTitulosNacionaisDefinitivosConsultaControle.jsf"><value>2011</value></entry>
				<entry key="/caliativosrendafixa/NetTitulosInternacionaisDefinitivosBoletagem.jsf"><value>2007</value></entry>
				<entry key="/caliativosrendafixa/NetTitulosInternacionaisDefinitivosConsultaControle.jsf"><value>2008</value></entry>
				<entry key="/caliativosrendavariavel/NetRendaVariavelAcoesOpcoesBoletagem.jsf"><value>2018</value></entry>
				<entry key="/caliativosrendavariavel/NetRendaVariavelAcoesOpcoesConsulta.jsf"><value>2019</value></entry>
				<entry key="/caliativosrendavariavel/NetRendaVariavelExercicioOpcoesBoletagem.jsf"><value>2021</value></entry>
				<entry key="/caliativosrendavariavel/NetRendaVariavelExercicioOpcoesConsulta.jsf"><value>2022</value></entry>
				<entry key="/caliativosrendavariavel/NetOpcaoFlexivelBoletagem.jsf"><value>2024</value></entry>
				<entry key="/caliativosrendavariavel/NetOpcaoFlexivelConsulta.jsf"><value>2025</value></entry>
				<entry key="/caliativosrendavariavel/NetRendaVariavelDoadorTomadorBoletagem.jsf"><value>2031</value></entry>
				<entry key="/caliativosrendavariavel/NetRendaVariavelDoadorTomadorConsulta.jsf"><value>2032</value></entry>
				<entry key="/caliativosrendavariavel/NetDevolucaoAntecipadaBoletagem.jsf"><value>2028</value></entry>
				<entry key="/caliativosrendavariavel/NetDevolucaoAntecipadaConsulta.jsf"><value>2029</value></entry>
				<entry key="/caliativosrendavariavel/NetRendaVariavelRenovacaoBoletagem.jsf"><value>2034</value></entry>
				<entry key="/caliativosrendavariavel/NetRendaVariavelRenovacaoBoletagemConsulta.jsf"><value>2035</value></entry>
				<entry key="/caliativostesouraria/NetTradicionalBoletagem.jsf"><value>2041</value></entry>
				<entry key="/caliativostesouraria/NetTradicionalConsulta.jsf"><value>2042</value></entry>
				<entry key="/caliativostesouraria/NetTermoAcoesAntecipacaoBoletagem.jsf"><value>2038</value></entry>
				<entry key="/caliativostesouraria/NetTermoAcoesAntecipacaoConsultaControle.jsf"><value>2039</value></entry>
				<entry key="/caliativoscotas/NetEmissaoContratoCambio.jsf"><value>2045</value></entry>
				<entry key="/caliativoscotas/NetConversaoEmissaoInrParaV.jsf"><value>2046</value></entry>
				<entry key="/caliativoscotas/NetCancelamentoContratoCambio.jsf"><value>2047</value></entry>
				<entry key="/caliativoscotas/NetConversaoVparaInr.jsf"><value>2048</value></entry>
				<entry key="/caliativoscotas/NET_consulta_controle_ADR.jsf"><value>2049</value></entry>
				<entry key="/caliativosdr/AdmCadastrarCorretorasDr.jsf"><value>151</value></entry>
				<entry key="/caliativosdr/AdmCadastrarProgramaDr.jsf"><value>152</value></entry>
				<entry key="/caliativosdr/AdmCadastrarPerfilCorretora.jsf"><value>153</value></entry>
				<entry key="/caliativosdr/AdmConsultarCorretorasDr.jsf"><value>154</value></entry>
				<entry key="/caliativosdr/AdmConsultarProgramaDr.jsf"><value>155</value></entry>
				<entry key="/caliativosdr/AdmConsultarPerfilCorretora.jsf"><value>156</value></entry>
				<entry key="/caliativosrendafixa/NetFuturosOpcoesEstruturadasBoletagem.jsf"><value>2055</value></entry>
				<entry key="/caliativosrendafixa/NetFuturosOpcoesEstruturadasConsulta.jsf"><value>2056</value></entry>
				<entry key="/caliativosrendafixa/NetExercicioOpcoesFuturosBoletagem.jsf"><value>2052</value></entry>
				<entry key="/caliativosrendafixa/NetExercicioOpcoesFuturosConsultaControle.jsf"><value>2053</value></entry>
				<entry key="/caliativoscotas/NetCotasDeFundoBoletagem.jsf"><value>2058</value></entry>
				<entry key="/caliativoscotas/NetCotasDeFundoConsultaControle.jsf"><value>2059</value></entry>
				<entry key="/caliativostesouraria/NetCambioBoletagem.jsf"><value>2061</value></entry>
				<entry key="/caliativostesouraria/NetCambioConsultaControle.jsf"><value>2062</value></entry>
				<entry key="/caliativostesouraria/NetIngressosERetiradasBoletagem.jsf"><value>2068</value></entry>
				<entry key="/caliativostesouraria/NetIngressosERetiradasConsultaControle.jsf"><value>2069</value></entry>
				<entry key="/caliativostesouraria/NetReceitasDespesasBoletagem.jsf"><value>2065</value></entry>
				<entry key="/caliativostesouraria/NetReceitasDespesasConsultaControle.jsf"><value>2066</value></entry>
				<entry key="/caliativosrendafixa/NetMargemRequeridaBoletagem.jsf"><value>2071</value></entry>
				<entry key="/caliativosrendafixa/NetMargemRequeridaConsultaControle.jsf"><value>2072</value></entry>
				<entry key="/caliativosrendafixa/NetMargemRendaFixaBoletagem.jsf"><value>2078</value></entry>
				<entry key="/caliativosrendafixa/NetMargemRendaFixaConsultaControle.jsf"><value>2079</value></entry>
				<entry key="/caliativosrendafixa/NetMargemRendaVariavelBoletagem.jsf"><value>2081</value></entry>
				<entry key="/caliativosrendafixa/NetMargemRendaVariavelConsultaControle.jsf"><value>2082</value></entry>
				<entry key="/caliativosrendafixa/NetMargemOutrosBoletagem.jsf"><value>2075</value></entry>
				<entry key="/caliativosrendafixa/NetMargemOutrosConsultaControle.jsf"><value>2076</value></entry>
				<entry key="/caliativoscotas/NetSwapNovoBoletagem.jsf"><value>2088</value></entry>
				<entry key="/caliativoscotas/NetSwapNovoConsultaControle.jsf"><value>2089</value></entry>
				<entry key="/caliativoscotas/NeSwapAntecipacaoBoletagem.jsf"><value>2085</value></entry>
				<entry key="/caliativoscotas/NetSwapAntecipacaoConsultaControle.jsf"><value>2086</value></entry>
				<entry key="/caliativosupload/NetOperacoesBoletadas.jsf"><value>2091</value></entry>
				<entry key="/caliativosupload/NetOperacoesBoletadasProtocolo.jsf"><value>2006</value></entry>
				<entry key="/caliativosupload/NetOperacoesBoletadasSaldoEstoque.jsf"><value>2092</value></entry>
				<entry key="/caliativosupload/NetUploadExportacaoDominios.jsf"><value>2096</value></entry>
				<entry key="/caliativosupload/NetUploadCargaArquivos.jsf"><value>2094</value></entry>
				<entry key="/caliativosupload/NetUploadConsultaControle.jsf"><value>2095</value></entry>
				<entry key="/caliativosadmacess/AdmCadastrarAcessHorarios.jsf"><value>2012</value></entry>
				<entry key="/caliativosrelposicao/NetFilPosicaoCarteiraDiaria.jsf"><value>2167</value></entry>
				<entry key="/caliativosrelposicao/NetFilPosicaoFluxoCaixa.jsf"><value>2173</value></entry>
				<entry key="/caliativosrelposicao/NetFilFluxoCaixaProjetado.jsf"><value>2199</value></entry>
				<entry key="/caliativosrelposicao/NetFilPosicaoEmprestimoAcoes.jsf"><value>2200</value></entry>
				<entry key="/caliativosrelposicao/NetFilPosicaoComposicaoCarteiraFundos.jsf"><value>2168</value></entry>
				<entry key="/caliativosrelposicao/NetFilPosicaoComposicaoCarteiraTitulos.jsf"><value>2169</value></entry>
				<entry key="/caliativosrelposicao/NetFilPosicaoComposicaoCarteiraTitulosRendaFixa.jsf"><value>2170</value></entry>
				<entry key="/caliativosrelposicao/NetComposicaoCarteiraFundosRendaVariavel.jsf"><value>2171</value></entry>
				<entry key="/caliativosrelposicao/NetFilPosicaoDistribuicaoCarteira.jsf"><value>2172</value></entry>
				<entry key="/caliativosrelposicao/NetFilFundoInvestCat.jsf"><value>2174</value></entry>
				<entry key="/caliativosrelposicao/NetFilFundosInvestimentoVencimento.jsf"><value>2175</value></entry>
				<entry key="/caliativosrelposicao/NetFilPosicaoMemoriaCalculoSwap.jsf"><value>2176</value></entry>
				<entry key="/caliativosrelposicao/NetFilPosicaoOutrosValores.jsf"><value>2177</value></entry>
				<entry key="/caliativosrelposicao/NetFilPosicaoPosicaoAnaliticaRendaFixa.jsf"><value>2178</value></entry>
				<entry key="/caliativosrelposicao/NetFilPosicaoPosicaoBloqueadaRendaFixa.jsf"><value>2179</value></entry>
				<entry key="/caliativosrelposicao/NetFilPosicaoPosicaoFuturos.jsf"><value>2180</value></entry>
				<entry key="/caliativosrelposicao/NetFilPosicaoSwap.jsf"><value>2181</value></entry>
				<entry key="/caliativosrelposicao/NetFilPosicaoPatrimonial.jsf"><value>2201</value></entry>
				<entry key="/caliativosrelmovimentacao/NetRelDemonstrativoCaixaFiltro.jsf"><value>2155</value></entry>
				<entry key="/caliativosrelmovimentacao/NetRelMapaEvolucaoCotasFiltro.jsf"><value>2159</value></entry>
				<entry key="/caliativosrelmovimentacao/NetRelOperacaoFundoInvestFiltro.jsf"><value>2164</value></entry>
				<entry key="/caliativosrelmovimentacao/NetRelOperacoesTrfFiltro.jsf"><value>2165</value></entry>
				<entry key="/caliativosrelmovimentacao/NetRelOperacoesTrvFiltro.jsf"><value>2166</value></entry>
				<entry key="/caliativosrelmovimentacao/NetRelMovEmprestimoAcoesFiltro.jsf"><value>2161</value></entry>
				<entry key="/caliativosrelmovimentacao/NetRelMovFuturosFiltro.jsf"><value>2162</value></entry>
				<entry key="/caliativosrelmovimentacao/NetRelMovSwapFiltro.jsf"><value>2163</value></entry>
				<entry key="/caliativosrelmovimentacao/NetRelMovBloqRendaFixaFiltro.jsf"><value>2160</value></entry>
				<entry key="/caliativosrelmovimentacao/NetRelDemonstrativoIdrFiltro.jsf"><value>2156</value></entry>
				<entry key="/caliativosrelmovimentacao/NetRelDividendosJurosApropFiltro.jsf"><value>2157</value></entry>
				<entry key="/caliativosrelmovimentacao/NetRelDivJurosRecebidosFiltro.jsf"><value>2158</value></entry>
				<entry key="/caliativosrelmensal/NetFilApropriacaoTitulosRendaFixa.jsf"><value>2131</value></entry>
				<entry key="/caliativosrelmensal/NetFilEvolucaoCartAcoesMovMes.jsf"><value>2132</value></entry>
				<entry key="/caliativosrelmensal/NetFilEvolucaoCartAcoesPosMesAnterior.jsf"><value>2133</value></entry>
				<entry key="/caliativosrelmensal/NetFilEvolucaoCartAcoesPosMesAtual.jsf"><value>2134</value></entry>
				<entry key="/caliativosrelmensal/NetFilMutacoesPatrimoniais.jsf"><value>2135</value></entry>
				<entry key="/caliativosrelmensal/NetFilPerformanceComparativaBruta.jsf"><value>2136</value></entry>
				<entry key="/caliativosrelmensal/NetFilPerformanceComparativaLiquida.jsf"><value>2137</value></entry>
				<entry key="/caliativosrelmensal/NetFilPerformanceCarteiraBruta.jsf"><value>2138</value></entry>
				<entry key="/caliativosrelmensal/NetFilPerformanceCarteiraLiquida.jsf"><value>2139</value></entry>
				<entry key="/caliativosrelmensal/NetFilPosicaoPatrimonialAnalitica.jsf"><value>2140</value></entry>
				<entry key="/caliativosrelmensal/NetFilRentabilidadeBrutaSegTir.jsf"><value>2141</value></entry>
				<entry key="/caliativosrelmensal/NetFilRentabilidadeLiquidaSegTir.jsf"><value>2142</value></entry>
				<entry key="/caliativosrelmensal/NetFilRentabilidadeSegTirBruta.jsf"><value>2143</value></entry>
				<entry key="/caliativosrelmensal/NetFilRentabilidadeSegTirLiquida.jsf"><value>2144</value></entry>
				<entry key="/caliativosrelbook/NetCadastroBookRelatorios.jsf"><value>2148</value></entry>
				<entry key="/caliativosrelbook/NetCadastroBookRelatoriosImprimir.jsf"><value>2150</value></entry>
				<entry key="/caliativosrelbook/NetBookGrupoCarteiras.jsf"><value>2152</value></entry>
				<entry key="/caliativosrelbook/NetRelatorioXmlAnbid.jsf"><value>2145</value></entry>
				<entry key="/caliativosrelbook/NetProtocoloBookGrpCarteira.jsf"><value>2154</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>834</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>835</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>836</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>833</value></entry>
				<entry key="/caliclearings/carteiraIncluir.jsf"><value>2187</value></entry>
				<entry key="/caliclearings/carteiraAlterar.jsf"><value>2188</value></entry>
				<entry key="/caliclearings/carteiraExcluir.jsf"><value>2189</value></entry>
				<entry key="/caliclearings/extratoCBLC.jsf"><value>2190</value></entry>
				<entry key="/caliclearings/extratoSELIC.jsf"><value>2192</value></entry>
				<entry key="/caliclearings/extratoCETIP.jsf"><value>2193</value></entry>
				<entry key="/caliclearingsupload/uploadCblc.jsf"><value>2194</value></entry>
				<entry key="/caliclearingsupload/uploadSelic.jsf"><value>2196</value></entry>
				<entry key="/caliclearingsupload/uploadCetip.jsf"><value>2195</value></entry>
				<entry key="/caliclearings/consultaUpload.jsf"><value>2197</value></entry>
				<entry key="/caliclearings/statusUpload.jsf"><value>2198</value></entry>
				<entry key="/calimovimentacao/cadastroMovimento.jsf"><value>302</value></entry>
				<entry key="/calimovimentacao/importarMovimentos.jsf"><value>303</value></entry>
				<entry key="/calimovimentacao/consultarProcessoImportacao.jsf"><value>309</value></entry>
				<entry key="/calimovimentacao/consultarMovimentosFeitoConferido.jsf"><value>304</value></entry>
				<entry key="/calimovimentacao/consultarMovimentos.jsf"><value>306</value></entry>
				<entry key="/calimovimentacao/consultarMovimentosAgendados.jsf"><value>307</value></entry>
				<entry key="/calimovimentacao/consultarFundos.jsf"><value>308</value></entry>
				<entry key="/calirelatorios/listarGrupoFundos.jsf"><value>378</value></entry>
				<entry key="/calirelatorios/consultarExtratoCotista.jsf"><value>365</value></entry>
				<entry key="/calirelatorios/consultarMovimentos.jsf"><value>366</value></entry>
				<entry key="/calirelatorios/consultaPosicaoCotista.jsf"><value>367</value></entry>
				<entry key="/calirelatorios/consultarRentabilidadeFundo.jsf"><value>368</value></entry>
				<entry key="/calirelatorios/consultarProtocolos.jsf"><value>369</value></entry>
				<entry key="/calirelatorios/consultaExtratoCotista.jsf"><value>346</value></entry>
				<entry key="/calirelatorios/consultaExtratoCliente.jsf"><value>363</value></entry>
				<entry key="/calirelatorios/consultaExtratoSimplificado.jsf"><value>354</value></entry>
				<entry key="/calirelatorios/consultarPosicaoFundoCotista.jsf"><value>348</value></entry>
				<entry key="/calirelatorios/consultaImpostoRenda.jsf"><value>355</value></entry>
				<entry key="/calirelatorios/consultaPosicaoConsolidada.jsf"><value>359</value></entry>
				<entry key="/calirelatorios/consultaTesouraria.jsf"><value>362</value></entry>
				<entry key="/calirelatorios/consultaMovimentos.jsf"><value>347</value></entry>
				<entry key="/calirelatorios/consultaPosicaoDetalhadaNota.jsf"><value>349</value></entry>
				<entry key="/calirelatorios/consultaSaldoMedio.jsf"><value>358</value></entry>
				<entry key="/calirelatorios/consultaSaldoPerdas.jsf"><value>379</value></entry>
				<entry key="/calirelatorios/consultaComeCotas.jsf"><value>364</value></entry>
				<entry key="/calirelatorios/consultaCotasBloqueadas.jsf"><value>353</value></entry>
				<entry key="/calirelatorios/consultaPosicaoBloqueio.jsf"><value>351</value></entry>
				<entry key="/calirelatorios/consultaMovimentacaoBloqueio.jsf"><value>360</value></entry>
				<entry key="/calirelatorios/consultaMemoriaCalculoResgate.jsf"><value>350</value></entry>
				<entry key="/calirelatorios/consultaPatrimonioDistribuidor.jsf"><value>356</value></entry>
				<entry key="/calirelatorios/consultaPatrimonioOperador.jsf"><value>357</value></entry>
				<entry key="/calirelatorios/consultaPerformanceFee.jsf"><value>352</value></entry>
				<entry key="/calirelatorios/consultaRentabilidadeFundo.jsf"><value>361</value></entry>
				<entry key="/calisblfcadcotista/sblfCadastroCostistaIndividual.jsf"><value>403</value></entry>
				<entry key="/calisblfcadcotista/sblfCadastrarLote.jsf"><value>404</value></entry>
				<entry key="/calisblfcadcotista/sblfConferirCotista.jsf"><value>405</value></entry>
				<entry key="/calisblfcadcotista/sblfCadastroCotistaConferenciaLote.jsf"><value>406</value></entry>
				<entry key="/calisblfcadcotista/sblfCadastroCotistaRejeitado.jsf"><value>407</value></entry>
				<entry key="/calisblfcadcotista/sblfCadastroCotistaConsultaLote.jsf"><value>408</value></entry>
				<entry key="/calisblfcadentpagamento/sblfCadastroEntidadePagamentoIndividual.jsf"><value>410</value></entry>
				<entry key="/calisblfcadentpagamento/sblfEntidadePagamentoConferenciaPesquisar.jsf"><value>411</value></entry>
				<entry key="/calisblfcadentpagamento/sblfEntidadePagamentoConferenciaLote.jsf"><value>412</value></entry>
				<entry key="/calisblfcadentpagamento/sblfCadastroEntidadePagamentoEnviarLote.jsf"><value>413</value></entry>
				<entry key="/calisblfcadentpagamento/sblfEntidadePagamentoRejPesquisar.jsf"><value>414</value></entry>
				<entry key="/calisblfcadentpagamento/sblfEntidadePagamentoConsLote.jsf"><value>415</value></entry>
				<entry key="/calisblfcadfundocarteiras/sblfFundoCarteirasCadastro.jsf"><value>417</value></entry>
				<entry key="/calisblfcadfundocarteiras/sblfFundoCarteirasMinhaSelecao.jsf"><value>418</value></entry>
				<entry key="/calisblfcadgrupofundos/sblfGrupoFundosCadastro.jsf"><value>420</value></entry>
				<entry key="/calisblfcadlogs/sblfLogCotista.jsf"><value>422</value></entry>
				<entry key="/calisblfcadlogs/sblfLogEntidadePagamento.jsf"><value>423</value></entry>
				<entry key="/calisblfcadlogs/sblfLogFundosCarteiras.jsf"><value>427</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>426</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>428</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>431</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>434</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>438</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>439</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>442</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>443</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>444</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>445</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>446</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>447</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>448</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>449</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>451</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>452</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>453</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>454</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>455</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>456</value></entry>
				<entry key="/calisblfconsulta/sblfConsultaUsuarioEmpresa.jsf"><value>459</value></entry>
				<entry key="/calisblfconsulta/sblfConsultaPerfilFuncionalidade.jsf"><value>460</value></entry>
				<entry key="/calisblfconsulta/sblfConsultaUsuarioFuncionalidade.jsf"><value>461</value></entry>
				<entry key="/calisblfconsulta/sblfConsultaGruposFundo.jsf"><value>462</value></entry>
				<entry key="/calisblfconsulta/sblfConsultaUsuarioFundo.jsf"><value>463</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>465</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>466</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>467</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>468</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>602</value></entry>
				<entry key="/calicadastros/dadosInvestidorIndividual.jsf"><value>818</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>819</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>820</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>822</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>823</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>824</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>844</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>807</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>845</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>847</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>806</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>808</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>810</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>805</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>809</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>825</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>826</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>827</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>828</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>829</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>830</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>831</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>832</value></entry>
				<entry key="/calirelatorios/dummy.jsf"><value>837</value></entry>
				<entry key="/calirelatorios/dummy.jsf"><value>838</value></entry>
				<entry key="/calirelatorios/dummy.jsf"><value>839</value></entry>
				<entry key="/calirelatorios/dummy.jsf"><value>840</value></entry>
				<entry key="/calirelatorios/dummy.jsf"><value>841</value></entry>
				<entry key="/calirelatorios/dummy.jsf"><value>842</value></entry>
				<entry key="/dummy/telainicial.jsf"><value>814</value></entry>
				<entry key="/calipersonalizacao/alterarMeuAcesso.jsf"><value>702</value></entry>
				<entry key="/calipersonalizacao/personalizarOperacoesMaisUtilizadas.jsf"><value>703</value></entry>
				<entry key="/calitatransferencia/gerarChave.jsf"><value>704</value></entry>
				<entry key="/calitatransferencia/consultarChave.jsf"><value>705</value></entry>
			</map>
		</property>
	</bean>
</beans>
