<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	
	<!-- ALERTAS -->
	<bean id="alertManagerStatistics"
		  class="br.com.bradesco.web.aq.application.alert.jmx.AlertManagerStatisticsImplService">
	</bean>	
	
	<!-- ERRORES -->
	<bean id="exceptionManagerStatistics"
		  class="br.com.bradesco.web.aq.application.error.jmx.ExceptionManagerStatisticsImplService">	
	</bean>
	
	<!-- LOG -->
	<bean id="logManagerStatistics"
		  class="br.com.bradesco.web.aq.application.log.jmx.LogManagerStatisticsImplService"/>
	
	<!-- SESSION -->
	<bean id="sessionManagerStatistics" 
          class="br.com.bradesco.web.aq.application.session.jmx.SessionManagerStatisticsImplService">
          	<property name="logger"><ref bean="logManager"/></property>
    </bean>     
</beans>
